{% extends 'base.html' %}

{% block head %}
<link href="{{ url_for('static', filename='style.css' ) }}" rel="stylesheet">
<link href="{{ url_for("static", filename="create.css") }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="background">
  <form action="{{ url_for('explore.create') }}" method="post">
    <textarea name="body" placeholder="Add Text" required></textarea>
    <br><br>
    
    <fieldset required>

      <legend>Select Time</legend>
    
    <div class="selection">
      <input type="checkbox" id="mon" name="availability" value="mon">
      <label for="mon">Monday</label>
    </div>
    <div class="break"></div>
    <div class="selection">
      <input type="checkbox" id="tues" name="availability" value="tues">
      <label for="tues">Tuesday</label>
    </div>
    <div class="break"></div>
    <div class="selection">
      <input type="checkbox" id="wed" name="availability" value="wed">
      <label for="wed">Wednesday </label>
    </div>
    <div class="break"></div>
    <div class="selection">
      <input type="checkbox" id="thurs" name="availability" value="thurs">
      <label for="thurs">Thursday </label>
    </div>
    <div class="break"></div>
    <div class="selection">
      <input type="checkbox" id="fri" name="availability" value="fri">
      <label for="fri">Friday </label>
    </div>
    <div class="break"></div>
    <div class="selection">
      <input type="checkbox" id="sat" name="availability" value="sat">
      <label for="sat">Saturday </label>
    </div>
    <div class="break"></div>
    <div class="selection">
      <input type="checkbox" id="sun" name="availability" value="sun">
      <label for="sun">Sunday </label>
    </div>
    <div class="break"></div>

    </fieldset> 
    <br><br>

    <a href="/explore"><button type="submit">Create Post</button></a>
  </form>
</div>

{% endblock %}
