{% extends 'base.html' %}

{% block head %}
<link href="{{ url_for('static', filename='style.css' ) }}" rel="stylesheet">
<link href="{{ url_for("static", filename="explore.css") }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div>
  {% for post in posts %}
  <div>
    <p class ="author">{{ post.author }}</p>
      <span>
        {% if post.coach %}
        Coach
        {% endif %}
        {% if post.coach and post.trainee %}
        /
        {% endif %}
        {% if post.trainee %}
        Trainee
        {% endif %}
      </span>
    <p class="time">
      <span >{{ post.created_at.strftime('%B %d, %Y %I:%M %p') }}</span>
    </p>
    <p class="body">{{ post.body }}</p>
    <p>
      <svg class="like-button" fill="none" width="1em" height="1em" preserveAspectRatio="xMidYMax slice"
        viewBox="0 0 100 100">
        <path d="M 50,10 90,90 10,90 z" fill="{{ 'green' if post.liked else 'black' }}"
          stroke="{{ 'green' if post.liked else 'black' }}" stroke-width="20" stroke-linejoin="round"
          stroke-linecap="round" />
        Like
      </svg>

      {{ post.likes }}
    </p>
  </div>
  {% endfor %}
</div>
<a href="/explore/create"><button>+</button></a>
{% endblock %}
