{% extends 'base.html' %}

{% block head %}
<link href="{{ url_for('static', filename='style.css' ) }}" rel="stylesheet">
<link href="{{ url_for("static", filename="explore.css") }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div>
  {% for post in posts %}
  <div>
    <p class ="author">{{ post.author }}</p>
      <span>
        {% if post.coach %}
        Coach
        {% endif %}
        {% if post.coach and post.trainee %}
        /
        {% endif %}
        {% if post.trainee %}
        Trainee
        {% endif %}
      </span>
    <p class="time">
      <span >{{ post.created_at.strftime('%B %d, %Y %I:%M %p') }}</span>
    </p>
    <p class="body">{{ post.body }}</p>
    <p>
      <svg class="like-button" fill="none" width="1em" height="1em" preserveAspectRatio="xMidYMax slice"
        viewBox="0 0 100 100">
        <path d="M 50,10 90,90 10,90 z" fill="{{ '#14ae5c' if post.liked else '#b3b3b3' }}"
          stroke="{{ '#14ae5c' if post.liked else '#b3b3b3' }}" stroke-width="20" stroke-linejoin="round"
          stroke-linecap="round" />
        Like
      </svg>

      {{ post.likes }}

      <span class="{{ 'avail' if post.mon else 'empty' }}">M</span>
      <span class="{{ 'avail' if post.tue else 'empty' }}">T</span>
      <span class="{{ 'avail' if post.wed else 'empty' }}">W</span>
      <span class="{{ 'avail' if post.thu else 'empty' }}">T</span>
      <span class="{{ 'avail' if post.fri else 'empty' }}">F</span>
      <span class="{{ 'avail' if post.sat else 'empty' }}">S</span>
      <span class="{{ 'avail' if post.sun else 'empty' }}">S</span>
    </p>
  </div>
  {% endfor %}
</div>
<a href="/explore/create"><button>+</button></a>
{% endblock %}
