{% extends 'base.html' %}

{% block head %}
<link href="{{ url_for('static', filename='style.css' ) }}" rel="stylesheet">
<link href="{{ url_for("static", filename="explore.css") }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div>
  {% for post in posts %}
  <div>
    <p class ="author">{{ post.author }}</p>
      <span>
        {% if post.coach %}
        Coach
        {% endif %}
        {% if post.coach and post.trainee %}
        /
        {% endif %}
        {% if post.trainee %}
        Trainee
        {% endif %}
      </span>
    <p class="time">
      <span >{{ post.created_at.strftime('%B %d, %Y %I:%M %p') }}</span>
    </p>
    <p class="body">{{ post.body }}</p>
    {% if post.liked %}
    <p><span class="liked">△</span>   {{ post.likes }}</p>
    {% else %}
    <p><span class="notLiked">△</span>   {{ post.likes }}</p>
    {% endif %}
  </div>
  {% endfor %}
</div>
<a href="/explore/create"><button>+</button></a>
{% endblock %}
