{% extends 'base.html' %}

{% block head %}
<link href="{{ url_for('static', filename='style.css' ) }}" rel="stylesheet">
<link href="{{ url_for("static", filename="profile.css") }}" rel="stylesheet">

{% endblock %}

{% block content %}
<div>
  <form action="{{ url_for('profile.update_profile') }}" method="post">
    <h1>{{ current_user.username }}</h1>
    <button type="submit">Done</button>
    <br><br>

  <textarea id="bio" name="bio" rows="5" cols="50" placeholder="Bio">{{ current_user.bio }}</textarea><br><br>

  <fieldset required>
    {% if current_user.coach %}
    <input type="checkbox" id="coach" name="coach" checked>
    {% else %}
    <input type="checkbox" id="coach" name="coach">
    {% endif %}
    <label for="coach">I'm a coach! </label>
    <div class="break"></div>
    {% if current_user.trainee %}
    <input type="checkbox" id="trainee" name="trainee" checked>
    
    {% else %}
    <input type="checkbox" id="trainee" name="trainee">
    {% endif %}
    <label for="trainee">I'm a trainee! </label>
  </fieldset>

  <br>
  <fieldset>
  {% if current_user.tennis %}
  <input type="checkbox" id="tennis" name="tennis" checked>
  {% else %}
  <input type="checkbox" id="tennis" name="tennis">
  {% endif %}
  <label for="tennis">Tennis</label>
    <div class="break"></div>
  {% if current_user.soccer %}
  <input type="checkbox" id="soccer" name="soccer" checked>
  {% else %}
  <input type="checkbox" id="soccer" name="soccer">
  {% endif %}
  <label for="soccer">Soccer </label>
    <div class="break"></div>
  {% if current_user.basketball %}
  <input type="checkbox" id="basketball" name="basketball" checked>
  {% else %}
  <input type="checkbox" id="basketball" name="basketball">
  {% endif %}
  <label for="wed">Basketball </label>
  <div class="break"></div>
  <div class="break"></div>
  {% if current_user.baseball %}
  <input type="checkbox" id="baseball" name="baseball" checked>
  {% else %}
  <input type="checkbox" id="baseball" name="baseball">
  {% endif %}
  <label for="baseball">Baseball </label>
    <div class="break"></div>
  {% if current_user.other_sport %}
  <input type="checkbox" id="other_sport" name="other_sport" checked>
  {% else %}
  <input type="checkbox" id="other_sport" name="other_sport">
  {% endif %}
  <label for="other_sport">Other </label>
  </fieldset>
  <br>
  <fieldset required>

  {% if current_user.mon %}
  <input type="checkbox" id="mon" name="mon" checked>
  {% else %}
  <input type="checkbox" id="mon" name="mon">
  {% endif %}
  <label for="mon">Monday</label>
    <div class="break"></div>
  {% if current_user.tue %}
  <input type="checkbox" id="tues" name="tues" checked>
  {% else %}
  <input type="checkbox" id="tues" name="tues">
  {% endif %}
  <label for="tues">Tuesday </label>
    <div class="break"></div>
  {% if current_user.wed %}
  <input type="checkbox" id="wed" name="wed" checked>
  {% else %}
  <input type="checkbox" id="wed" name="wed">
  {% endif %}
  <label for="wed">Wednesday </label>
  <div class="break"></div>
  <div class="break"></div>
  {% if current_user.thu %}
  <input type="checkbox" id="thurs" name="thurs" checked>
  {% else %}
  <input type="checkbox" id="thurs" name="thurs">
  {% endif %}
  <label for="thurs">Thursday </label>
    <div class="break"></div>
  {% if current_user.fri %}
  <input type="checkbox" id="fri" name="fri" checked>
  {% else %}
  <input type="checkbox" id="fri" name="fri">
  {% endif %}
  <label for="fri">Friday</label>
    <div class="break"></div>
  {% if current_user.sat %}
  <input type="checkbox" id="sat" name="sat" checked>
  {% else %}
  <input type="checkbox" id="sat" name="sat">
  {% endif %}
  <label for="sat">Saturday </label>
  <div class="break"></div>
  {% if current_user.sun %}
  <input type="checkbox" id="sun" name="sun" checked>
  {% else %}
  <input type="checkbox" id="sun" name="sun">
  {% endif %}
  <label for="sun">Sunday </label>
  
  </fieldset>
  </form>
</div>

{% endblock %}
