{% extends 'base.html' %}

{% block head %}
<link href="{{ url_for('static', filename='style.css' ) }}" rel="stylesheet">
<link href="{{ url_for("static", filename="profile.css") }}" rel="stylesheet">

{% endblock %}

{% block content %}
<div>
  <form action="{{ url_for('profile.update_profile') }}" method="post">

    <br><br>

  <input class="name" type="text" id="dispname" name="dispname" placeholder="Your name"></input>
  
  <br><br>

  <textarea id="bio" name="bio" rows="5" cols="50" placeholder="Bio"></textarea><br><br>

  <input type="checkbox" id="coach" name="usertype" value="coach">
  <label for="coach">I'm a coach!</label>

  <input type="checkbox" id="trainee" name="usertype" value="trainee">
  <label for="trainee">I'm a trainee!</label><br><br>

  <textarea id="sportslist" name="sports_list" rows="10" cols="50" placeholder="Your sports"></textarea><br><br>
  
  <fieldset required>
<div class="selection">
      <input type="checkbox" id="mon" name="availability" value="mon">
      <label for="mon">Monday</label>
    </div>
    <div class="break"></div>
    <div class="selection">
      <input type="checkbox" id="tues" name="availability" value="tues">
      <label for="tues">Tuesday</label>
    </div>
    <div class="break"></div>
    <div class="selection">
      <input type="checkbox" id="wed" name="availability" value="wed">
      <label for="wed">Wednesday </label>
    </div>
    <div class="break"></div>
    <div class="selection">
      <input type="checkbox" id="thurs" name="availability" value="thurs">
      <label for="thurs">Thursday </label>
    </div>
    <div class="break"></div>
    <div class="selection">
      <input type="checkbox" id="fri" name="availability" value="fri">
      <label for="fri">Friday </label>
    </div>
    <div class="break"></div>
    <div class="selection">
      <input type="checkbox" id="sat" name="availability" value="sat">
      <label for="sat">Saturday </label>
    </div>
    <div class="break"></div>
    <div class="selection">
      <input type="checkbox" id="sun" name="availability" value="sun">
      <label for="sun">Sunday </label>
    </div>
    <div class="break"></div>

  </fieldset>
  <button type="submit">Update</button>
  </form>
</div>

{% endblock %}
