{% extends 'base.html' %}

{% block head %}
<link href="{{ url_for('static', filename='style.css' ) }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div>
  <form action="{{ url_for('profile.update_profile') }}" method="post">
    <button type="submit">Update</button>

    <br><br>

  <input type="text" id="dispname" name="dispname" placeholder="Your name"></input>
  
  <br><br>

  <textarea id="bio" name="bio" rows="5" cols="50" placeholder="Bio"></textarea><br><br>

  <input type="radio" id="coach" name="usertype" value="coach">
  <label for="coach">I'm a coach!</label>

  <input type="radio" id="trainee" name="usertype" value="trainee">
  <label for="trainee">I'm a trainee!</label><br><br>

  <textarea id="sportslist" name="sports_list" rows="10" cols="50" placeholder="Your sports"></textarea><br><br>
  
  <fieldset required>
  <input type="checkbox" id="mon" name="mon" value="mon">
  <label for="mon">M </label>

  <input type="checkbox" id="tues" name="tues" value="tues">
  <label for="tues">T </label>

  <input type="checkbox" id="wed" name="wed" value="wed">
  <label for="wed">W </label>

  <input type="checkbox" id="thurs" name="thurs" value="thurs">
  <label for="thurs">Th </label>

  <input type="checkbox" id="fri" name="fri" value="fri">
  <label for="fri">F </label>

  <input type="checkbox" id="sat" name="sat" value="sat">
  <label for="sat">S </label>

  <input type="checkbox" id="sun" name="sun" value="sun">
  <label for="sun">S </label>
  </fieldset>

  </form>
</div>

{% endblock %}
